* {
  box-sizing: border-box;
}

body {
  margin: 0;
  height: 100vh;
}

.canvas-container {
  background-color: black;
  width: 100%;
  height: 100%;
  align-content: center;
}

canvas {
  display: block;
  margin-inline: auto;
}
